{% if settings.addthis != blank %}
<div class="addthis_horizontal_follow_toolbox"></div>
{% elsif settings.social_facebook_link != blank or settings.social_twitter_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_tiktok_link != blank or settings.social_snapchat_link != blank or settings.social_tumblr_link != blank or settings.social_whatsapp_link != blank or settings.social_linkedin_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank %}
<div class="socials{{ social-class }}">
  <ul>
    {% if settings.social_facebook_link != blank %}
    <li>
      <a href="{{ settings.social_facebook_link | escape }}" target="_blank" role="button" title="{{ 'general.social.facebook' | t | escape }}" aria-label="{{ 'general.social.facebook' | t | escape }}">
        {%- render 'icons.social', icon: 'facebook', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
    {% if settings.social_twitter_link != blank %}
    <li>
      <a href="{{ settings.social_twitter_link | escape }}" target="_blank" role="button" title="{{ 'general.social.twitter' | t | escape }}" aria-label="{{ 'general.social.twitter' | t | escape }}">
        {%- render 'icons.social', icon: 'twitter', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
    {% if settings.social_pinterest_link != blank %}
    <li>
      <a href="{{ settings.social_pinterest_link | escape }}" target="_blank" role="button" title="{{ 'general.social.pinterest' | t | escape }}" aria-label="{{ 'general.social.pinterest' | t | escape }}">
        {%- render 'icons.social', icon: 'pinterest', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
    {% if settings.social_instagram_link != blank %}
    <li>
      <a href="{{ settings.social_instagram_link | escape }}" target="_blank" role="button" title="{{ 'general.social.instagram' | t | escape }}" aria-label="{{ 'general.social.instagram' | t | escape }}">
        {%- render 'icons.social', icon: 'instagram', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
    {% if settings.social_tiktok_link != blank %}
    <li>
      <a href="{{ settings.social_tiktok_link | escape }}" target="_blank" role="button" title="{{ 'general.social.tiktok' | t | escape }}" aria-label="{{ 'general.social.tiktok' | t | escape }}">
        {%- render 'icons.social', icon: 'tiktok', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
    {% if settings.social_snapchat_link != blank %}
    <li>
      <a href="{{ settings.social_snapchat_link | escape }}" target="_blank" role="button" title="{{ 'general.social.snapchat' | t | escape }}" aria-label="{{ 'general.social.snapchat' | t | escape }}">
        {%- render 'icons.social', icon: 'snapchat', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
    {% if settings.social_tumblr_link != blank %}
    <li>
      <a href="{{ settings.social_tumblr_link | escape }}" target="_blank" role="button" title="{{ 'general.social.tumblr' | t | escape }}" aria-label="{{ 'general.social.tumblr' | t | escape }}">
        {%- render 'icons.social', icon: 'tumblr', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
    {% if settings.social_whatsapp_link != blank %}
    <li>
      <a href="{{ settings.social_whatsapp_link | escape }}" target="_blank" role="button" title="{{ 'general.social.whatsapp' | t | escape }}" aria-label="{{ 'general.social.whatsapp' | t | escape }}">
        {%- render 'icons.social', icon: 'whatsapp', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
    {% if settings.social_linkedin_link != blank %}
    <li>
      <a href="{{ settings.social_linkedin_link | escape }}" target="_blank" role="button" title="{{ 'general.social.linkedin' | t | escape }}" aria-label="{{ 'general.social.linkedin' | t | escape }}">
        {%- render 'icons.social', icon: 'linkedin', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
    {% if settings.social_youtube_link != blank %}
    <li>
      <a href="{{ settings.social_youtube_link | escape }}" target="_blank" role="button" title="{{ 'general.social.youtube' | t | escape }}" aria-label="{{ 'general.social.youtube' | t | escape }}">
        {%- render 'icons.social', icon: 'youtube', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
    {% if settings.social_vimeo_link != blank %}
    <li>
      <a href="{{ settings.social_vimeo_link | escape }}" target="_blank" role="button" title="{{ 'general.social.vimeo' | t | escape }}" aria-label="{{ 'general.social.vimeo' | t | escape }}">
        {%- render 'icons.social', icon: 'vimeo', icon_class: icon_class -%}
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}